body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ed9316; 
}

.proyectos-container {
  background-color: #ed9316;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  color: #1613cc;
}
.proyecto-form mat-form-field {
  width: 100%;
  margin-bottom: 15px;
  background-color: white;
}
.proyectos-list {
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; 
  margin-bottom: 40px;
}

.proyectos-list h1 {
  font-size: 2em;

}

.add-button {
  float: right;
  color: white;
  background-color: #1613cc;

}
.add-button:hover { background-color: #ed9316; color: #1613cc; border-color: #1613cc; }

table {
  width: 100%;
  text-align: center;
  justify-content: center;
}

th {
  background-color: #f0f0f0;
  color: #ed9316;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
td {
  padding: 10px;
  text-align: center;
}

.proyecto-form {
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; 
  margin: auto; 
}

.icon-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-left: 200px;
  color: #1613cc;
  text-size-adjust: 1px;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-icon-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mat-icon-button span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-buttons button {
  margin-left: 10px;
}
