/* Contenedor general */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

}
.usuarios-container {
  background-color: #ed9316 ;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, h4{
  color: #1613cc;
  align-self: left;
}
.usuarios-list h1 {
  font-size: 2em;

}
.usuarios-list {
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; 
  margin-bottom: 40px;
}

.usuario-form mat-form-field {
  width: 100%;
  margin-bottom: 15px;
  background-color: white;
}

.add-button {
  float: right;
  color: WHITE ;
  background-color: #1613cc;
  font-size: 16px !important; 
  padding: 12px 24px!important; 

}
.add-button:hover { background-color: #ed9316; color: #1613cc; border-color: #1613cc; }

table {
  width: 100%;
  text-align: center;
  justify-content: center;
}

th {
  background-color: #f0f0f0;
  color: #ed9316;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

td {
  padding: 10px;
  text-align: center;
}


.icon-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-left: 200px;
  color: #1613cc;
  text-size-adjust: 1px;
}


.mat-icon-button {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

/* Estilo del formulario */
.usuario-form {
  background-color: #1613cc;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-form{
  display: inline-flex;
  margin-top: 5px;
  padding: 50px;
  font-size: 12px;
  text-align: center;
}
.usuario-form{
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; 
  margin: auto; 
  place-items: 100px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  background-color: #1613cc;
}

.form-buttons button {
  margin-left: 10px;
  float: right;
  color: white;
  background-color: #1613cc;
}


.proyecto-form {
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; 
  margin: auto; 
}
.acciones {
  text-align: center;

}

.icon-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
  color: #1613cc;
  text-size-adjust: 1px;
}

.mat-icon-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1613cc;
}
.mat-icon-button span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  color: #1613cc;
}


.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}


.proyectos-asignados{
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; 
  margin: auto; 
}
mat-icon {
  margin-right: 10px;
}

mat-form-field {
  width: 100%;
}
mat-card {
  padding: 20px;
  border-radius: 10px; 
}
.imagen-upload {
  margin-top: 16px;
  margin-bottom: 16px;
}
.imagen-upload input[type="file"] {
  display: block;
  margin-top: 8px;
}

