.informes-container {
  background-color: #ed9316;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container,
.informes-list {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-bottom: 40px;
}

h2 {
  color: #1613cc;
  align-self: flex-start;
}

h3 {
  color: #1613cc;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 6px;
}

.button-container button {
  margin-left: 10px;
  color: white;
  background-color: #1613cc;
  border-radius: 6px;
  font-weight: bold;
}

.button-container button:hover {
  background-color: #ed9316;
  color: #1613cc;
}

.clear-button {
  background-color: #e53935 !important;
  color: white !important;
}

table {
  width: 100%;
  text-align: center;
}

th {
  background-color: #f0f0f0;
  color: #ed9316;
  padding: 10px;
  font-weight: bold;
    text-align: center;
}

td {
  padding: 10px;
  text-align: center;
}

.table-container {
  width: 100%;
}

.total-horas {
  margin-top: 20px;
  font-size: 1.2em;
  color: #1613cc;
  text-align: right;
  margin-right: 50px;
}

mat-icon {
  margin-right: 10px;
}

mat-card {
  padding: 20px;
  border-radius: 10px;
}
