.registro-horas-container {
  background-color: #ed9316;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registro-horas-list {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-bottom: 40px;
}

h1, h3{
  color: #1613cc;
  align-self: left;
}

.add-button {
  float: right;
  color: white;
  background-color: #1613cc;
  font-size: 16px !important;
  padding: 12px 24px !important;
  border-radius: 6px;
  font-weight: bold;
}

.add-button:hover {
  background-color: #ed9316;
  color: #1613cc;
}

table {
  width: 100%;
  text-align: center;
}

th {
  background-color: #f0f0f0;
  color: #ed9316;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

td {
  padding: 10px;
  text-align: center;
}

.acciones {
  text-align: center;
}

.icon-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
  color: #1613cc;
}

.mat-icon-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1613cc;
}

.mat-icon-button span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  color: #1613cc;
}

.registro-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 20px auto;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 6px;
}


mat-icon {
  margin-right: 10px;
}

mat-form-field {
  width: 100%;
}

mat-card {
  padding: 20px;
  border-radius: 10px;
}
